/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General styles*/
.text {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #a82626, #410b05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text h1 {
    color: rgb(10, 142, 162);
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
/*textarea*/
textarea {
    width: 400px;
    height: 250px;
    background: #061e29;
    color: white;
    font: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-top: 5px solid #3b0986;
    border-left: 2px solid #3b0986;
    resize: none;
    margin-bottom: 30px;
}